<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Connection" value="Data Source=10.21.52.109;Initial Catalog=LearnetUsage;Persist Security Info=True;User ID=usagestats; Password=usage@stats2;"/>   
  </appSettings>

</configuration>